/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');



/* ----- 1-таймер ------ */
 
input[type='text'],
input[type='number'] {
  font-family: "Montserrat", sans-serif;
  min-width: 272px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  transition: border-color var(--time) var(--cudic);
}

input[type='text']:hover,
input[type='text']:focus,
input[type='number']:hover,
input[type='number']:focus {
  border-color: #000;
}

input[type='text']:active {
  border-color: #4e75ff;
}

input[type='text']:disabled {
  background-color: #fafafa;
  color: #808080;
  border-color: #808080;
}

input[type='number']:focus-within {
  border-color: #4e75ff;
}

.timer {
  display: flex;
    justify-content: center;
    gap: 24px;
}

.field {
  display: flex;
    flex-direction: column;
}

.value {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}

button[type='button'] { 
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;

  font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}


button[type='button']:disabled{
    background-color: #cfcfcf;;
      color: #989898;
}

button[type='button']:hover {
  background-color: #6c8cff;
}

 

/* ------- 2-snakbar ------- */

